@model Zuehlke.Zmapp.WebApp.Models.EmployeeViewModel

<table>
    <tr>
        <td>Employee Id</td>
        <td>@Model.Id</td>
    </tr>    
    <tr>
        <td>First Name</td>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>@Model.LastName</td>
    </tr>
</table>


    <button id="bookButton" type="submit">Book @Model.FirstName</button>    


<script type="text/javascript">
    $(function () {
        $('#bookButton').click(function (event) {
            alert('book');
            var employeeId = event.target.id;
            var url = "EmployeeDetail?id=" + employeeId;
            $('#details').load(url);
        });
    });
</script>