@{
    ViewBag.Title = "Home Page";
}
<h3>Vision</h3>
<ol class="round">
    <li class="one">
        Im Gespräch mit Kunden ist häufig eine Auskunft notwendig, ob, wann und in welchem Umfang Mitarbeiter 
        von Zühlke für einen Kunden zur Verfügung stehen.
        Heute ist das nur möglich, indem der Mandatsleiter/Kundenbetreuer die Kalender der Mitarbeiter einzeln durchschaut 
        und das jeweilige Stellenprofil im Kopf bzw. als Dokument hat.
    </li>

    <li class="two">
        Die neue Zmapp (Zühlke Mitarbeiter App) soll diesen Vorgang vereinfachen, damit dem Kunden noch während dem 
        Gespräch eine provisorische Zusage für Ressourcen gegeben werden kann. 
        Es sollen daher anhand von verschiedenen Kriterien wie Skillset, MA-Level, Zeitraum, verfügbare Zeit 
        und Distanz des MA zum Kunden die möglichen Mitarbeiter angezeigt werden.
    </li>

    <li class="three">
        Ebenfalls sollen über die Mitarbeiter detaillierte Informationen (Wohnort, MA-Profil) abgelegt sein, 
        die dann direkt abgerufen werden können. Sofern der Kunde Interesse hat, soll der Mitarbeiter anschliessend
        via Email oder Anruf (nicht automatisiert, aber als Einstieg in die Mail-App oder die Telefoniefunktion) 
        darüber informiert werden können.

        Da die Gespräche mit dem Kunden typischerweise „offline“ erfolgen (d.h. keine Verbindung mit dem ZE-Netzwerk besteht), 
        ist eine von überall her zugängliche Lösung wünschenswert.
    </li>
</ol>
