<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:22366/EmployeeReservationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
                contract="Zuehlke.Zmapp.Services.Contracts.Employees.IEmployeeReservationService"
                name="EmployeeReservationService" />
            <endpoint address="http://localhost:22366/CustomerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
                contract="Zuehlke.Zmapp.Services.Contracts.Customers.ICustomerService"
                name="CustomerService" />
          <endpoint address="http://localhost:22366/EmployeeService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
                contract="Zuehlke.Zmapp.Services.Contracts.Employees.IEmployeeService"
                name="EmployeeService" />
        </client>
    </system.serviceModel>
</configuration>