<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEmployeeEvaluationService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:22366/EmployeeEvaluationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmployeeEvaluationService"
                contract="Zuehlke.Zmapp.Services.Contracts.Employee.IEmployeeEvaluationService"
                name="BasicHttpBinding_IEmployeeEvaluationService" />
        </client>
    </system.serviceModel>
</configuration>